---
import IconFilter from "@/assets/images/icons/icon-filter.svg";
import { CATEGORIES } from "@/config/database.products";
import { Image } from "astro:assets";
import IconCheck from "@/assets/images/icons/icon-check.svg";
---

<section class="w-1/3">
  <div class="border-b border-borderPlatos w-full pb-5 flex gap-4">
    <Image src={IconFilter} alt="Icono de filtro" class="w-5" />
    <h2 class="font-semibold text-primary text-lg">Filtrar</h2>
  </div>
  <div class="border-b border-borderPlatos w-full mt-10">
    <h2 class="font-bold text-primary text-sm uppercase pb-2">Categorías</h2>
  </div>
  <ul class="mt-4" id="category-list">
    {
      CATEGORIES.map(({ name, slug, icon }) => (
        <li
          class="text-secondary text-sm md:text-lg flex justify-between relative group mb-2 category-item"
          data-slug={slug}
        >
          <button class="flex items-center gap-3 category-button">
            <Image src={icon} alt="" class="w-5 h-5" />
            <span class="text-[14px] md:text-[16px]">{name}</span>
          </button>
          <Image
            src={IconCheck}
            alt="Active Icon"
            class="w-5 h-5 check-icon"
            style="display: none;"
          />
        </li>
      ))
    }
  </ul>
</section>

<script is:inline>
  document.addEventListener("DOMContentLoaded", function () {
    const categoryButtons = document.querySelectorAll(".category-button");
    const products = document.querySelectorAll(".product-item");

    categoryButtons.forEach((button) => {
      button.addEventListener("click", function () {
        // Obtener el slug de la categoría seleccionada
        const categoryItem = this.closest(".category-item");
        const categorySlug = categoryItem.getAttribute("data-slug");

        // Limpiar categorías activas y ocultar iconos de check
        document.querySelectorAll(".category-item").forEach((item) => {
          item.querySelector(".check-icon").style.display = "none";
        });

        // Mostrar el check solo en la categoría activa
        const checkIcon = categoryItem.querySelector(".check-icon");
        checkIcon.style.display = "inline";

        // Filtrar productos según la categoría seleccionada
        products.forEach((product) => {
          const productCategory = product.getAttribute("data-category");
          console.log(productCategory, categorySlug);
          if (productCategory == categorySlug) {
            product.style.display = "block"; // Mostrar el producto
          } else {
            product.style.display = "none"; // Ocultar el producto
          }
        });
      });
    });

    // Mostrar todos los productos al cargar la página
    products.forEach((product) => {
      product.style.display = "block";
    });
  });
</script>
