---
import IconCarta from "@/assets/images/icons/icon-carta.svg";
import { PRODUCTS } from "@/config/database.products";
import { Image } from "astro:assets";
---

<section class="w-full">
  <div class="flex items-center gap-4 border-b border-borderPlatos w-full pb-5">
    <Image src={IconCarta} alt="Icono de carta" class="w-5" />
    <h1 class="font-semibold text-primary text-lg">
      Conoce nuestros platos congelados
    </h1>
  </div>

  <div
    class="grid mt-10 gap-3 z-10 w-full"
    style="grid-template-columns: repeat(auto-fit, minmax(245px, 1fr));"
  >
    {
      PRODUCTS.map(({ title, description, image, slug, category }) => (
        <article
          class="group flex flex-col rounded-lg p-3 w-full max-w-[280px] bg-white shadow-cheffify-card product-item"
          data-category={category}
        >
          <a
            href={`/nuestros-platos/${slug}`}
            aria-label="Link que te lleva al interior del producto"
          >
            <img
              alt={title}
              src={image}
              class="aspect-square rounded-lg brightness-75 transition duration-500 group-hover:brightness-100"
            />
          </a>
          <div class="px-2 py-4">
            <h3 class="text-cheffify-gray-dark font-bold text-[16px] md:text-[19px] min-h-[42px] leading-[19px] mb-1">
              {title}
            </h3>
            <p class="text-cheffify-gray-dark text-[12px] md:text-[14px] min-h-[130px] mb-2 font-light">
              {description}
            </p>
            <a
              href={`/nuestros-platos/${slug}`}
              class="bg-secondary text-center text-white transition-all duration-500 hover:bg-cheffify-aqua rounded-lg w-full py-2 block font-semibold"
            >
              Más información
            </a>
          </div>
        </article>
      ))
    }
  </div>
</section>
