---
import { Image } from "astro:assets";
import Food from "@/assets/images/icons/food-shadow.svg";
import Hearth from "@/assets/images/icons/hearth-shadow.svg";
import Tomato from "@/assets/images/icons/tomato-shadow.svg";
import Delivery from "@/assets/images/icons/truck-shadow.svg";
// Decorative elements
import ImageFlowerLeft from "@/assets/images/decoratives/elemento-decorativo-flower-transparent.svg";
import ImageBubblesRight from "@/assets/images/decoratives/elemento-decorativo-bubbles.svg";
import ImageFlowerRight from "@/assets/images/decoratives/elemento-decorativo-flower-transparent-orange.svg";
---

<section
  class="mt-10 flex flex-col items-center px-4 md:px-20 lg:px-40 animate-fade-in-right animate-delay-500 animate-duration-slow relative"
>
  <h2 class="text-4xl text-primary font-extrabold mb-6 text-center">
    Pensamos por ti. <span class="text-secondary">Resolvemos por ti.</span>
  </h2>
  <ul
    class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-8 lg:gap-32 justify-items-center items-start mt-10"
  >
    <li class="flex flex-col items-center">
      <Image src={Tomato} alt="100% Ingredientes Naturales" class="size-16" />
      <p class="text-primary text-lg text-center mt-6 min-h-[50px]">
        100% Ingredientes <br /> Naturales
      </p>
    </li>
    <li class="flex flex-col items-center">
      <Image src={Hearth} alt="Sin aditivos ni conservantes" class="size-16" />
      <p class="text-primary text-lg text-center mt-6 min-h-[42px]">
        Sin aditivos ni <br /> conservantes
      </p>
    </li>
    <li class="flex flex-col items-center">
      <Image src={Delivery} alt="Envíos a domicilio" class="size-16" />
      <p class="text-primary text-lg text-center mt-6 min-h-[42px]">
        Envíos <br />a todo Chile
      </p>
    </li>
    <li class="flex flex-col items-center">
      <Image src={Food} alt="Hecho como en casa" class="size-16" />
      <p class="text-primary text-lg text-center mt-6 min-h-[42px]">
        Hecho como en <br /> casa
      </p>
    </li>
  </ul>

  <p class="text-lg text-grayUltraLight mt-6 font-light">
    *Servicio disponible solo para empresas.
  </p>
  <a
    href="/cotizar"
    class="flex items-center gap-2 justify-center px-10 py-4 rounded-lg text-white font-bold transition-all duration-500 hover:bg-cheffify-aqua hover:shadow-xl bg-secondary mt-8 w-full lg:w-fit"
  >
    Solicitar COTIZACIÓN
  </a>

  <!-- INFO: Elementos decorativos -->
  <Image
    src={ImageFlowerLeft}
    alt="Elemento decorativo de flor izquierda"
    class="absolute w-32 top-10 left-0 -z-10 hidden lg:block animate-fade-in-right animate-delay-800 animate-duration-slow"
    loading="eager"
  />
  <Image
    src={ImageBubblesRight}
    alt="Elemento decorativo de burbujas derecha"
    class="absolute w-32 top-10 right-0 -z-10 hidden lg:block animate-fade-in-left animate-delay-800 animate-duration-slow"
    loading="eager"
  />
  <Image
    src={ImageFlowerRight}
    alt="Elemento decorativo de flor derecha"
    class="absolute w-32 top-52 right-0 -z-10 hidden lg:block animate-fade-in-left animate-delay-800 animate-duration-slow"
    loading="eager"
  />
</section>
<!-- TODO: Agregar ancla de navegacion -->
