---
import IconCompany from "@/assets/images/icons/icon-company.svg";
import IconPeople from "@/assets/images/icons/icon-people.svg";
import ImageComeComoCasa from "@/assets/images/img/come-como-en-casa.svg";
import ImageCoverCompany from "@/assets/images/img/image-dinner.webp";
import ImageCoverFamily from "@/assets/images/img/image-family.webp";

import Footer from "@/components/Footer.astro";
import HeroBanner from "@/components/HeroBanner.astro";
import InfoHome from "@/components/InfoHome.astro";
import Navbar from "@/components/Navbar.astro";

import Layout from "@/layouts/Layout.astro";

import { Image } from "astro:assets";
---

<Layout
  title="Comida congelada a domicilio | Platos Congelados Cheffify"
  description="Platos saludables y deliciosos, preparados y congelados para tu comodidad. ¡Disfruta de comida casera sin el trabajo de cocinar!"
>
  <main>
    <Navbar />
    <HeroBanner />
    <section
      class="px-4 lg:px-40 xl:px-72 bg-shadow-item bg-no-repeat bg-contain bg-bottom"
    >
      <InfoHome
        icon={IconCompany}
        title="Servicios para Empresa"
        description="Somos proveedores de Restaurantes, Hoteles y Grandes Empresas con platos artesanales congelados y 100% naturales. Solicita una cotización y lleva la mejor calidad a tu negocio."
        list={[
          "Soluciones personalizadas de comida congelada.",
          "Platos elaborados sin conservantes ni colorantes.",
          "Envíos a todo Chile.",
          "Pedido mínimo mensual de 900.000 CLP.",
        ]}
        cover={ImageCoverCompany}
      />
      <InfoHome
        icon={IconPeople}
        title="Para particulares"
        description="Disfruta de nuestra comida casera y saludable de siempre en la comodidad de tu hogar. Elige tu menú favorito con FROZT y llegará directo a tu casa ¡haz tu pedido ahora!"
        list={[
          "Platos caseros congelados, listos para disfrutar.",
          "Ingredientes frescos y sin conservantes.",
          "Variedad de menús para todos los gustos.",
          "Compra a través de nuestro distribuidor oficial.",
        ]}
        cover={ImageCoverFamily}
        isFrozt={true}
      />
      <Image
        src={ImageComeComoCasa}
        alt="Come como en casa"
        class="w-80 mx-auto py-20"
        loading="lazy"
      />
    </section>
    <Footer />
  </main>
</Layout>
