---
interface CardHeroProps {
  title: string;
  btnText: string;
  legalText: string;
  bgButton: string;
  typeFrozt: boolean;
  link: string;
}

const { title, btnText, legalText, bgButton, typeFrozt, link } =
  Astro.props as CardHeroProps;

import LogoFrozt from "@/assets/images/logos/logo-frozt.svg";
import { Image } from "astro:assets";

const bgButtonClasses: { [key: string]: string } = {
  "cheffify-aqua": "bg-cheffify-aqua",
  "cheffify-orange": "bg-cheffify-orange",
};
---

<div
  class="bg-[#ffffffd9] flex flex-col justify-center items-center py-7 px-5 rounded-xl shadow-lg w-full"
>
  <h2 class="text-primary font-bold text-2xl mb-5">{title}</h2>
  <!-- TODO: Add link COTIZACIOn -->
  <a
    href={link}
    target={typeFrozt ? "_blank" : "_self"}
    class={`flex items-center gap-2 justify-center px-10 py-4 rounded-lg ${bgButtonClasses[bgButton] || ""} text-white font-bold transition-all duration-500 hover:bg-secondary`}
  >
    {btnText}

    {
      typeFrozt && (
        <Image
          src={LogoFrozt}
          alt="Logo Frozt"
          class="w-20 bottom-1 relative"
          loading="eager"
        />
      )
    }
  </a>
  <!-- TODO: Add legal text -->
  <span class="text-xs text-primary mt-2">
    {typeFrozt && <strong>*FROZT.cl</strong>}
    {legalText}
  </span>
</div>
