---
import Logo from "@/assets/images/logos/logo.svg";
import LogoEmpresa from "@/assets/images/logos/logo-cheffify-empresa.svg";
import { Image } from "astro:assets";

import IconBell from "@/assets/images/icons/icon-bell.svg";
import IconHome from "@/components/icons/Home.astro";
import IconHearth from "@/components/icons/Hearth.astro";
import IconStar from "@/components/icons/Star.astro";

const MENU_NAV = [
  {
    name: "Inicio",
    link: "/",
    Icon: IconHome,
  },
  {
    name: "Nuestros Platos",
    link: "/nuestros-platos",
    Icon: IconHearth,
  },
  {
    name: "Quienes somos",
    link: "/quienes-somos",
    Icon: IconStar,
  },
];

// Obtener la ruta actual
const currentPath = Astro.url.pathname;
const LOGO_EMPRESA = ["/quienes-somos", "/cotizar", "/nuestros-platos"];
---

<nav class="bg-primary px-10 lg:px-40 py-5 flex justify-between items-center">
  <a href="/">
    {
      LOGO_EMPRESA.includes(currentPath) ? (
        <Image
          src={LogoEmpresa}
          alt="Logo de cheffify"
          class="size-30 transition-all duration-500 hover:scale-105"
          loading="eager"
        />
      ) : (
        <Image
          src={Logo}
          alt="Logo de cheffify"
          class="size-30 transition-all duration-500 hover:scale-105"
          loading="eager"
        />
      )
    }
  </a>
  <ul class="flex gap-8 items-center">
    {
      MENU_NAV.map(({ name, link, Icon }) => (
        <li class="hidden lg:block">
          <a href={link} class="flex justify-end items-end gap-2 group">
            <Icon active={currentPath === link} />
            <span
              class={`${currentPath === link ? "text-secondary" : "text-white"} font-semibold text-sm leading-none transition-all duration-500 group-hover:text-secondary`}
            >
              {name}
            </span>
          </a>
        </li>
      ))
    }
    <li>
      <!-- TODO: Agregar link de cotización -->
      <a
        href="/"
        class="flex items-center justify-center gap-3 bg-secondary px-4 py-2 rounded-2xl transition duration-500 hover:bg-cheffify-aqua"
      >
        <Image
          src={IconBell}
          alt="Icono de campana"
          class="size-4"
          loading="eager"
        />
        <span class="text-white font-semibold text-xs leading-none uppercase"
          >Cotizar aquí</span
        >
      </a>
    </li>
  </ul>
</nav>
